!!!
%html
    %head
        %title Network Editor
    %body
        .network_editor
            %object{ :id => 'NetworkEditor',
                :classid => 'clsid:D27CDB6E-AE6D-11cf-96B8-444553540000',
                :codebase => 'http://fpdownload.macromedia.com/get/flashplayer/current/swflash.cab',
                :width => '100%',
                :height => '100%' }
                %param{:name => 'movie', :value => @network_editor}
                %param{:name => 'quality', :value => 'high'}
                %param{:name => 'flashVars', :value => "url=#{@s3_url}"}
                %embed{ :name => 'NetworkEditor', :width => '100%', :height => '100%',
                    :src => @network_editor, :FlashVars => "url=#{@s3_url}",
                    :pluginspage => "http://www.macromedia.com/go/getflashplayer",
                    :type => "application/x-shockwave-flash" }
