!!!
%html{:style => 'height: 100%; margin: 0px; padding: 0px;'}
    %head
        %title Network Editor
    %body{:style => 'height: 95%;'}
        .network_editor{:style => 'height: 100%; width: 100%;'}
            %object{ :id => 'NetworkEditor',
                :classid => 'clsid:D27CDB6E-AE6D-11cf-96B8-444553540000',
                :codebase => 'http://fpdownload.macromedia.com/get/flashplayer/current/swflash.cab',
                :width => '100%',
                :height => '100%',
                :style => 'height: 100%; width: 100%;' }
                %param{:name => 'movie', :value => @network_editor}
                %param{:name => 'quality', :value => 'high'}
                %param{:name => 'flashVars', :value => "url=#{@s3_url}&key=#{@gmap_key}"}
                %embed{ :name => 'NetworkEditor', :width => '100%', :height => '100%',
                    :src => @network_editor, :FlashVars => "url=#{@s3_url}&key=#{@gmap_key}",
                    :pluginspage => "http://www.macromedia.com/go/getflashplayer",
                    :type => "application/x-shockwave-flash" }
